html {
  background: linear-gradient(180deg, #febd71 0px, lightblue 300px, lightblue 80%, #febd71 100%);
  // background: linear-gradient(0deg, #010101 0px, #010101 500px, #111 90%, white 200%);
  box-sizing: border-box;
  font-size: 100%;
  min-height: 101%;
  // height: 5000px;
}

body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.glowing {
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  pointer-events: all;
  opacity: 1 !important;

  &--blue {
    @extend .glowing;
    color: var(--blue);
  }

  &--green {
    @extend .glowing;
    color: var(--green);
  }

  &--purple {
    @extend .glowing;
    color: var(--purple);
  }

  &--yellow {
    @extend .glowing;
    color: var(--yellow);
  }
}

.hidden {
  display: none !important;
}

.section {
  text-align: center;
  width: 65%;
  margin-inline: auto;
}

.paragraph {
  width: 90%;
  margin-inline: auto;
}