html {
  background: linear-gradient(180deg, #febd71 0px, lightblue 300px, lightblue 80%, #febd71 100%);
  box-sizing: border-box;
  font-size: 100%;
  min-height: 101%;
}

body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.glowing {
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  pointer-events: all;
  opacity: 1 !important;
  color:  var(--text);
}

.hidden {
  display: none !important;
}

.section {
  text-align: center;
  width: 65%;
  margin-inline: auto;
}

.paragraph {
  width: 90%;
  margin-inline: auto;
}