@font-face {
  font-family: 'Agency FB Thin';
  src: local('Agency FB'), url(../fonts/AgencyFB-Bold.ttf) format('truetype');
}

h1 {
  font-family: Agency FB, Agency FB Thin, sans-serif;
  color: #080808;
  text-transform: uppercase;
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5) !important;
}

h2, h3 {
  font-family: Agency FB, Agency FB Thin, sans-serif;
  color: #010101;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(3rem, 0.8824rem + 5.8824vw, 5rem);
  margin-bottom: 0;
}

h3 {
  font-size: clamp(1.5rem, -0.0882rem + 4.4118vw, 3rem);
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(1rem, 0.5765rem + 1.1765vw, 1.4rem);
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: none !important;
}