@font-face {
  font-family: 'Agency FB Thin';
  src: url(./src/fonts/AgencyFB-Bold.ttf) format('truetype');
}

h1 {
  font-family: 'Agency FB Thin', sans-serif;
  font-weight: 100;
  color:  var(--grey);
  text-transform: uppercase;
}

h2, h3 {
  font-family: 'Agency FB Thin', sans-serif;
  color:  var(--grey);
  text-transform: uppercase;
}

h2 {
  font-size: clamp(2.4rem, -0.3529rem + 7.6471vw, 5rem);
  font-weight: 100;
  margin-bottom: 0;
}

h3 {
  font-size: clamp(1.5rem, -0.0882rem + 4.4118vw, 3rem);
}

.heading {
  padding-top: 50px;
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(1rem, 0.5765rem + 1.1765vw, 1.4rem);
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: none !important;
  color: var(--grey);
}

i {
  color: var(--grey);
}