.footer {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 120px;
  margin-top: 120px;
  background-color: var(--text);
}

.footer i {
  margin-bottom: 25px;
  width: max-content;
  color: #febd71;
}