.projects {

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  &__card img {
    width: 300px;
    border: solid 3px var(--text);
  }

  &__title {
    display: flex;
    position: relative;
    margin-bottom: 0;
  }

  &__title a {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title h3 {
    margin: 5px 0;
  }

  &__icons {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__icon {
    font-size: clamp(2rem, 0.9412rem + 2.9412vw, 3rem);
    color: var(--text);
  }

  &__link {
    color: var(--text);
  }
}