.qualifications {
  margin-bottom: 100px;

  &__entry {
    margin-bottom: 100px;
  }

  &__list h3 {
    text-decoration: underline;
    margin-bottom: 10px;
  }

  &__list p {
    margin: 0 auto;

  }

  &__list i {

  }
}