@use '../util' as u;

.skills {
  min-height: 700px;

  &__skill {

  }

  &__row-one, &__row-two, &__row-three {
    margin-bottom: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    animation: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;

    @include u.breakpoint(small) {
      gap: 10px;
    }

    @include u.breakpoint(medium) {
      gap: 15px;
    }

    @include u.breakpoint(large) {
      gap: 20px;
    }
  }

  &__row-one i, &__row-two i, &__row-three i {
    font-size: clamp(2rem, 0.9412rem + 2.9412vw, 3rem);
    margin: 0px 10px;
  }

  &__description {
    font-size: clamp(1rem, 0.5765rem + 1.1765vw, 1.4rem);
  }

  &__heading {
    animation: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  &__icon {
    color: var(--grey);
  }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}