.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  padding-top: 25px;

  &__sections, &__projects, &__contacts {
    font-size: 0.8rem;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  &__sections a, &__projects a, &__contacts a {
    color: var(--orange);
    cursor: pointer;
    text-decoration: underline;
  }
}

.footer i {
  margin-top: 25px;
  margin-bottom: 25px;
  width: max-content;
  color: var(--orange);
}